ul {
    list-style-type: none;
}

/* Hide the delete icon by default */
.delete-icon {
    display: none;
    cursor: pointer; /* Change the cursor to indicate it's clickable */
}

/* Show the delete icon when the list item is hovered */
.list-group-item:hover .delete-icon {
    display: inline; /* or flex, depending on your design */
}